aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
discord==1.7.3
discord.py==1.7.3
entrypoints
flake8
flake8-polyfill
idna
lxml
mccabe
multidict
pep8-naming
pycodestyle
pyflakes
requests
setuptools
soupsieve
steamfront
urllib3
websockets
wheel
yarl
